.controller{
    position: fixed;
    top: 10px;
    right: 20px;
    width: 300px;
    background-color:rgba(192,192,192,0.2);
    padding: 10px;
    display: grid;
    button {
        margin: 5px;
    }
}
.camera-controller{
    position: fixed;
    top: 30px;
    left: 20px;
    width: 300px;
    background-color:rgba(192,192,192,0.2);
    padding: 10px;
    display: grid;
    button {
        margin: 5px;
    }
}

.joint-controll-panel {
  position: fixed;
  top: 300px;        
  right: 380px;       
  width: 500px;     
  background: #fff;
  border-radius: 20px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.08);
  padding: 16px;
  z-index: 100;
}

.modern-robot-controll-panel {
  position: fixed;
  top: 600px;        
  right: 80px;      
  width: 600px;    
  background: #fff;
  border-radius: 20px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.08);
  padding: 16px;
  z-index: 100;
}
